@import '../../styles/partials/breakpoints';
@import '../../styles/partials/fonts';
@import '../../styles/partials/colors';

.video-player {
    background-color: $BrainFlix-DarkBlack;
    width: 100%;

    video {
        box-sizing: border-box;
        width: 100%;
        max-height: 56.25vw; //16:9

        @include tablet {
            padding: 0 3rem
        }
    }
}