@import '../../styles/partials/breakpoints';
@import '../../styles/partials/fonts';
@import '../../styles/partials/colors';

.video-player {
    background-color: $BrainFlix-DarkBlack;
    width: 100%;
    height: 56.25vw;
    max-height: 56.25vw;
    position: relative;
    text-align: center;

    @include tablet {
        height: 48vw;
    }


    @include desktop {
        max-height: 50rem;
    }

    video {
        // box-sizing: border-box;
        // width: 100%;
        // max-height: 56.25vw; //16:9

        object-fit: contain;
        height: 100%;
        //width: 100%;

        @include tablet {
            margin-left: auto;
            margin-right: auto;
        }

    }

    &__controls {
        box-sizing: border-box;
        position: absolute;
        bottom: 1rem;
        width: 100%;
        padding: 0 0.5rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        div {
            background: rgba($BrainFlix-DarkBlack, 0.5);
            border-radius: 0.25rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            img {
                height: 1rem;
                padding: 0.5rem;
            }

        }
    }
}

#play-pause {
    height: 2rem;
    width: 3rem;
    
}

#progress {
    width: 50%;
    max-width: 50rem;
    height: 2rem;
    color: $White;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;

    .slider {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 0.3rem;
        background-color: $Silver;
    }
    
    span {
       color: $White;
       font-size: 0.75rem;
       line-height: 0.75rem;
       padding-top: 2px;
    }

    
}

// #other-buttons {
//     gap: 0.5rem

// }