@import './styles/partials/breakpoints';
// @import './styles/partials/fonts';
@import './styles/partials/colors';

.App {
    min-width: 250px;
}

.desktopFlex{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
        display: flex;
        flex-direction: row;
        width: 100%
    }

}